@font-face {
  font-family: "iconfont"; /* Project id 373132 */
  src: url('iconfont.woff2?t=1636333552225') format('woff2'),
       url('iconfont.woff?t=1636333552225') format('woff'),
       url('iconfont.ttf?t=1636333552225') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouzhi2:before {
  content: "\e614";
}

.icon-zanwushuju-Chrome-copy:before {
  content: "\e613";
}

.icon-xiugai:before {
  content: "\e64a";
}

.icon-shanchu:before {
  content: "\e610";
}

.icon-tuijian2:before {
  content: "\e60b";
}

.icon-plus:before {
  content: "\e608";
}

.icon-tuijian:before {
  content: "\e618";
}

.icon-recai:before {
  content: "\e6a2";
}

.icon-houtai:before {
  content: "\e602";
}

.icon-fangdajing:before {
  content: "\e63e";
}

.icon-duihao:before {
  content: "\e641";
}

.icon-xiadan:before {
  content: "\e621";
}

.icon-zuowei-kexuan:before {
  content: "\e62e";
}

.icon-baotang:before {
  content: "\e6d2";
}

.icon-index:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-canju:before {
  content: "\e88d";
}

.icon-zhushicopy:before {
  content: "\e6cc";
}

.icon-tuichu:before {
  content: "\e66a";
}

.icon-diancaidanicon:before {
  content: "\e70e";
}

.icon-lujing:before {
  content: "\e604";
}

.icon-wx-yjt:before {
  content: "\e601";
}

.icon-hao:before {
  content: "\e603";
}

.icon-caipinshezhi:before {
  content: "\ee58";
}

.icon--hao:before {
  content: "\e605";
}

.icon-category01:before {
  content: "\e606";
}

.icon-che-copy:before {
  content: "\e607";
}

.icon-ziyuan20:before {
  content: "\e617";
}

